:root{
    --cor-1: #e23e57;
    --cor-2: #ffffff;
    --cor-3: #e96a7e;
    --cor-4: #ce1f3a;
    --cor-5: #e6e6e6;
    --cor-6: #ef97a4;
}

body{
    background-color: #ce1f3a;
}

button{
    background-color: #e6e6e6;
    border-color: #e6e6e6;
    margin-left: 50px;
    padding: 20px;
}

.Nav-Bar{
    background-color: #e6e6e6;
    border: 10px solid purple;
    display: flex;
    padding: 27px;
}